.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.DARKbackground {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background: #101010;
}

.SVGbackground {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  /* height: 150%; */
}

/* CONTAINER SECTION */
.innerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.leftContainerTabANDBalance {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0px 32px;
}

.leftContainer {
  display: flex;
  flex-direction: row;

  /* Burası 480px'e sabitlense daha iyi olur */
  width: 100%;
  height: 189px;
}

.rightContainer {
  /* Burası 100% - 480px olması lazım */
  width: 100%;
  min-height: 400px;
  height: 100%;
}

/* TABS SECTION */
.leftContainerTabs {
  margin: 18px auto;
  /* margin-top: 12px; */
  /* margin-left: 16px; */
  /* padding: 0px 62px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  max-width: 480px;
}

.leftContainerTabs svg {
  width: 44px;
  height: 44px;
}

.homeIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.homeIconImg {
  width: 44px;
  height: 44px;
}

.homeIconImg svg {
  fill: var(--icon-violet);
}

.homeIcon p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
}

.statisticsIcon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.statisticsIconImg {
  width: 44px;
  height: 44px;
}

.statisticsIconImg svg {
  fill: var(--white-400);
}

.statisticsIcon p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}

.currencyIcon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.currencyIconImg {
  width: 44px;
  height: 44px;
}

/* BALANCE SECTION */
.leftContainerBallance {
  /* margin-top: 12px; */
  width: 100%;
  min-height: 90px;
  height: 90px;
  border-radius: 8px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: rgba(82, 59, 126, 0.6);
}

/* CURRENCY SECTION */
.leftContainerCurrency {
  margin-top: 32px;
  width: 100%;
  height: 380px;
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .DARKbackground {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    background: #101010;
  }

  .SVGbackground {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* height: 150%; */
  }

  /* CONTAINER SECTION */
  .innerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .leftContainerTabANDBalance {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0px 32px;
  }

  .leftContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .rightContainer {
    width: 100%;
    min-height: 400px;
    height: 100%;
  }

  /* TABS SECTION */
  .leftContainerTabs {
    margin-top: 40px;
    margin-left: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .homeIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .homeIconImg {
    width: 18px;
    height: 18px;
  }

  .homeIconImg svg {
    fill: var(--icon-violet);
  }

  .homeIcon p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
  }

  .statisticsIcon {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .statisticsIconImg {
    width: 18px;
    height: 18px;
  }

  .statisticsIconImg svg {
    fill: var(--white-400);
  }

  .statisticsIcon p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
  }

  /* BALANCE SECTION */
  .leftContainerBallance {
    margin-top: 40px;
    width: 100%;
    min-height: 90px;
    height: 90px;
    border-radius: 8px;
    box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
    background: rgba(82, 59, 126, 0.6);
  }

  /* CURRENCY SECTION */
  .leftContainerCurrency {
    margin-top: 32px;
    width: 100%;
    height: 380px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .DARKbackground {
    background: #101010;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .SVGbackground {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* CONTAINER SECTION */
  .innerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .leftContainer {
    /* Burası 480px'e sabitlense daha iyi olur */
    width: 480px;
    height: calc(100vh - 80px);
    /* background-color: #cfec65; */
    border-right: 1px solid var(--white-400);
  }

  .rightContainer {
    /* Burası 100% - 480px olması lazım */
    width: calc(100% - 480px);
    min-height: 400px;
  }

  /* TABS SECTION */
  .leftContainerTabs {
    margin-top: 40px;
    margin-left: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .homeIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .homeIconImg {
    width: 18px;
    height: 18px;
  }

  .homeIconImg svg {
    fill: var(--icon-violet);
  }

  .homeIcon p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
  }

  .statisticsIcon {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .statisticsIconImg {
    width: 18px;
    height: 18px;
  }

  .statisticsIconImg svg {
    fill: var(--white-400);
  }

  .statisticsIcon p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
  }

  /* BALANCE SECTION */
  .leftContainerBallance {
    margin-top: 40px;
    width: 100%;
    min-height: 90px;
    height: 90px;
    box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
    background: rgba(82, 59, 126, 0.6);
  }

  /* CURRENCY SECTION */
  .leftContainerCurrency {
    margin-top: 32px;
    width: 100%;
    height: 380px;
  }
}

@media (max-width: 768px) {
  .leftContainerBallance {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .currencyIconImg {
    display: none;
  }

  .homeIconImg,
  .statisticsIconImg {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .leftContainerBallance {
    margin-bottom: 20px;
    width: 336px;
  }
}
